<form action="/restaurants" method="POST">

  <div class="container mt-5">
    <h3>新增餐廳</h3>
  <div class="row mt-4">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-3">
        <span>
          <i class="fas fa-home pr-2"></i>
          名稱：
        </span>
        <input required type="text" placeholder="中文名稱" name="name">
        <input type="text" placeholder="name in English" name="name_en">
      </p>

      <p class="mb-3">
        <span>
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        <input required type="text" placeholder="日本料理、義式餐廳、咖啡..." name="category">
      </p>
      
      <p class="mb-3">
        <span>
          <i class="fas fa-utensils pr-2"></i>
          評分：
        </span>
        <input required type="text" placeholder="1.0 ~ 5.0" name="rating">
      </p>

      <p class="mb-3">
        <span>
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        <input required type="text" placeholder="台北市大安區...." name="location">
      </p>

      <p class="mb-3">
        <span>
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        <input required type="text" placeholder="04 1234 5678" name="phone">
      </p>

      <p class="mb-5">
        <span>
          <i class="fas fa-info-circle pr-2"></i>
          餐廳簡介：
        </span>
        <textarea class="form-control mt-2" placeholder="About the restaurant..." name="description" rows="3"></textarea>
      </p>
     
      <div class="form-group">
        <span>
          <i class="fas fa-camera pr-2"></i>
          餐廳照片(url) :
        </span>
        <input required type="text" placeholder="http://..." name="image">
      </div>

        <div class=" text-center mb-3">
          <button type="submit" class="mx-auto btn btn-warning">完成</button>
          <a href="/">
            <button class="ml-3 btn btn-info">返回</button>
          </a>
        </div>

    </div>
  </div>
</div>
</form>
